<section class="settings">
  <h3>Настройка бота</h3>
  <form>
    <div class="form-header">
      <h4>Редактировать</h4>
    </div>
    <div class="form-body">
      <label>
        <span>Префикс</span>
        <input class="input-bot" type="text">
      </label>
      <label>
        <span>Описание</span>
        <input class="input-bot" type="text">
      </label>
      <label>
        <span>Статусы</span>
        <input class="input-bot" type="text">
      </label>
      <label>
        <span>Интервал смены статусов</span>
        <input class="input-bot" type="text">
      </label>
    </div>
    <div class="form-footer">
      <button class="button-bot">Обновить</button>
    </div>
  </form>
</section>

