<section class="hello">
  <div class="hello-window">
    <div class="hello-window-header">
      <h4>Выдача ролей для новых пользователей</h4>
    </div>
    <div class="hello-window-body">
      <div class="body-roles">
        <div class="body-roles-item">
          <div class="item-circle" style="background-color: #8102BD"></div>
          <div class="item-body">
            <span>@Tank</span>
            <button>
              <svg width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_777_428)">
                  <line x1="18" y1="5" x2="4" y2="5" stroke="white" stroke-width="2"/>
                </g>
                <defs>
                  <filter id="filter0_d_777_428" x="0" y="0" width="22" height="10" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0.666667 0 0 0 0 0.129412 0 0 0 0 0.129412 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_777_428"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_777_428" result="shape"/>
                  </filter>
                </defs>
              </svg>
            </button>

          </div>
        </div>
        <div class="body-roles-item">
          <div class="item-circle" style="background-color: #B57700"></div>
          <div class="item-body">
            <span>@God</span>
            <button>
              <svg width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_777_428)">
                  <line x1="18" y1="5" x2="4" y2="5" stroke="white" stroke-width="2"/>
                </g>
                <defs>
                  <filter id="filter0_d_777_428" x="0" y="0" width="22" height="10" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0.666667 0 0 0 0 0.129412 0 0 0 0 0.129412 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_777_428"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_777_428" result="shape"/>
                  </filter>
                </defs>
              </svg>
            </button>

          </div>
        </div>
        <button>
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 11H15M11 15V7M11 21C16.5 21 21 16.5 21 11C21 5.5 16.5 1 11 1C5.5 1 1 5.5 1 11C1 16.5 5.5 21 11 21Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
      <div class="body-input">
        <label for="input-roles">
          <span>
             <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.0099 8.98994L15.0099 5.98994M3.49994 20.4999C4.32994 21.3299 5.66994 21.3299 6.49994 20.4999L19.4999 7.49994C20.3299 6.66994 20.3299 5.32994 19.4999 4.49994C18.6699 3.66994 17.3299 3.66994 16.4999 4.49994L3.49994 17.4999C2.66994 18.3299 2.66994 19.6699 3.49994 20.4999Z" stroke="white" stroke-opacity="0.5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M8.5 2.44L10 2L9.56 3.5L10 5L8.5 4.56L7 5L7.44 3.5L7 2L8.5 2.44ZM4.5 8.44L6 8L5.56 9.5L6 11L4.5 10.56L3 11L3.44 9.5L3 8L4.5 8.44ZM19.5 13.44L21 13L20.56 14.5L21 16L19.5 15.56L18 16L18.44 14.5L18 13L19.5 13.44Z" stroke="white" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          </span>
        </label>
        <div class="input-button">
          <svg width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d_777_370)">
              <line x1="18" y1="5" x2="4" y2="5" stroke="white" stroke-width="2"/>
            </g>
            <defs>
              <filter id="filter0_d_777_370" x="0" y="0" width="22" height="10" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0.666667 0 0 0 0 0.129412 0 0 0 0 0.129412 0 0 0 1 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_777_370"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_777_370" result="shape"/>
              </filter>
            </defs>
          </svg>
        </div>
        <input type="text" id="input-roles" placeholder="Create a new role">
      </div>
      <div class="body-select">
        <div class="body-select-item">Jaristo Cyber Room</div>
        <div class="body-select-item" style="color: #8094CD">Основатель</div>
        <div class="body-select-item" style="color: #00754E">Moderator</div>
        <div class="body-select-item" style="color: #B8481A">Main Organizer</div>
      </div>
    </div>
  </div>
  <div class="message-window">
    <div class="message-window-header">
      <h4>Приветственное сообщение канала</h4>
    </div>
    <div class="message-window-body">
      <div class="select-bot">
        <span>
          <svg width="10" height="19" viewBox="0 0 10 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.40752 18.5672L6.60759 14.2094L9.1852 11.5485C9.70695 11.0064 10 10.2715 10 9.50535C10 8.73919 9.70695 8.00435 9.1852 7.46218L2.40752 0.429884C1.51778 -0.493275 -7.51586e-09 0.171942 -6.38907e-08 1.46165L-7.665e-07 17.5355C-8.23468e-07 18.8388 1.51778 19.4904 2.40752 18.5672Z" fill="white"/>
        </svg>
        </span>
        <select>
          <option value="1"># проходная</option>
        </select>
      </div>
      <div class="message">
        <h5>Текстовое сообщение</h5>
        <div class="message-text textarea-field">
          <textarea cols="30" rows="10"></textarea>
          <div class="message-length">0/2000</div>
        </div>
      </div>

    </div>
  </div>
  <div class="message-postcard">
    <div class="message-postcard-header">
      <div class="checkbox-input">
        <input type="checkbox" id="checkbox" name="checkbox">
        <label for="checkbox" class="label"></label>
      </div>
      <span>Отправить приветственную открытку, когда пользователь присоединяется к серверам</span>
    </div>
    <div class="message-postcard-body">
      <div class="postcard">
        <div class="postcard-photo">
          <img src="assets/images/bot/img-placeholder.png" alt="user">
        </div>
        <div class="postcard-text">
          <div class="postcard-title">JARISTO#8606 just joined the server</div>
          <div class="postcard-number">Member #229</div>
        </div>
      </div>
    </div>
  </div>
  <div class="hello-card">
    <div class="hello-card-header">
      <h4>Настроить приветственную карту</h4>
    </div>
    <div class="hello-card-body">
      <div class="hello-card-item fonts">
        <h5>Шрифт</h5>
        <div class="select-bot">
          <span>
          <svg width="10" height="19" viewBox="0 0 10 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.40752 18.5672L6.60759 14.2094L9.1852 11.5485C9.70695 11.0064 10 10.2715 10 9.50535C10 8.73919 9.70695 8.00435 9.1852 7.46218L2.40752 0.429884C1.51778 -0.493275 -7.51586e-09 0.171942 -6.38907e-08 1.46165L-7.665e-07 17.5355C-8.23468e-07 18.8388 1.51778 19.4904 2.40752 18.5672Z" fill="white"/>
        </svg>
        </span>
          <select>
            <option value="1">
              <link rel="preconnect" href="https://fonts.googleapis.com">
            </option>
          </select>
        </div>
      </div>
      <div class="hello-card-item color-fonts">
        <h5>Цвет шрифта</h5>
        <div class="colors">
          <label>
            <input type="checkbox">
          </label>
          <label>
            <input type="checkbox">
          </label>
          <label>
            <input type="checkbox">
          </label>
          <label>
            <input type="checkbox">
          </label>
          <label>
            <input type="checkbox">
          </label>
          <label>
            <input type="checkbox">
          </label>
          <label>
            <input type="checkbox">
          </label>
          <label>
            <input type="checkbox">
          </label>
          <label>
            <input type="checkbox">
          </label>
          <label>
            <input type="checkbox">
          </label>
          <label>
            <input type="checkbox">
          </label>
        </div>
      </div>
      <div class="hello-card-item color-fonts">
        <h5>Фоновый цвет</h5>
        <div class="colors">
          <label>
            <input type="checkbox">
          </label>
          <label>
            <input type="checkbox">
          </label>
          <label>
            <input type="checkbox">
          </label>
          <label>
            <input type="checkbox">
          </label>
          <label>
            <input type="checkbox">
          </label>
          <label>
            <input type="checkbox">
          </label>
          <label>
            <input type="checkbox">
          </label>
          <label>
            <input type="checkbox">
          </label>
          <label>
            <input type="checkbox">
          </label>
          <label>
            <input type="checkbox">
          </label>
          <label>
            <input type="checkbox">
          </label>
        </div>
      </div>
      <div class="hello-card-item range">
        <h5>Непрозрачность</h5>
        <label>
          <input type="range"  min="0" max="100" value="50"/>
        </label>
      </div>
      <div class="hello-card-item fon">
        <h5>Фон</h5>
        <div class="fon">
          <img src="assets/images/bot/hello-card-fon.png" alt="fon">
        </div>
      </div>
      <div class="hello-card-item title">
        <h5>Заголовок</h5>
        <label>
          <input class="input-bot" type="text">
        </label>
      </div>
      <div class="hello-card-item subtitle">
        <h5>Подзаголовок</h5>
        <label>
          <input class="input-bot" type="text">
        </label>
      </div>

    </div>
  </div>
</section>

