@import "../../../../assets/styles/variable";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/global";

.twitch {
  padding: 0 10px 10px 10px;
  height: 100vh;
  //background-image:
  //  url("../../../../assets/images/bot/fon/14.webp");
  //background-repeat: no-repeat;
  //background-position: -8% 3%;
  h3 {
    @include title_40;
    margin-bottom: 28px;
  }
}
@media screen and (max-width: 800px) {
  .twitch {
    h3 {
      font-size: 30px;
      text-align: center;
    }
  }
}
