<div class="layout" [class.sidebar-open]="!sidebarOpen">
  <header class="header"></header>
  <sidebar class="sidebar"></sidebar>
  <div class="content-router">
    <div class="user-info">
      <div class="user-photo">
        <img src="../../../../assets/images/bot/user.webp" alt="photo">
      </div>
      <div class="user-name">
        <span>Oleg Jaristo</span>
        <span>#9280</span>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <footer class="footer"></footer>
</div>



