@import "../../../../../assets/styles/variable";
@import "../../../../../assets/styles/mixins";
@import "../../../../../assets/styles/fonts";
@import "../../../../../assets/styles/global";

.header {
  //background-color: $background_color;
  padding: 10px;
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 86px;
    background: $background_element;
    border-radius: 10px;
    padding-right: 21px;
    .logo {
      display: flex;
      align-items: center;
      span {
        font-family: Bebas Neue, sans-serif;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 40px;
        margin-left: 6px;
        margin-top: 5px;
      }
    }
    button {
      cursor: pointer;
      background-color: $background_element;
      border: 0;
    }
    nav {
      width: 70%;
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
          list-style: none;
          a {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 32px;
            text-align: center;
            color: #FFFFFF;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .header {
    .header-wrapper {
      min-height: 70px;
      .logo {
        svg {
          width: 71px;
          height: 70px;
        }
        span {
          font-size: 30px;
        }
      }
      nav {
        ul {
          li {
            a {
              font-size: 24px;
            }
          }
        }
      }
    }

  }

}
@media screen and (max-width: 1000px) {
  .header {
    .header-wrapper {
      nav {
        display: none;
      }
      .close {
        display: none;
      }
    }
  }
}
