<section class="footer">
  <div class="container">
    <div class="footer-logo">
      <img src="assets/images/main/logo.png" alt="logo">
      <p>Лучший Дискорд-бот, с которым можно уверенно улучшать и развивать свой сервер</p>
    </div>
    <nav class="footer-nav">
      <ul>
        <li><a class="title" href="#">JARISTO CYBER ROOM</a></li>
        <li><a href="#">Сервер Поддержки</a></li>
        <li><a href="#">Support Contact</a></li>
      </ul>
      <ul>
        <li><a href="#">Плагины</a></li>
        <li><a href="#">Настройки сервера</a></li>
      </ul>
      <ul>
        <li><a href="#">Утилиты</a></li>
        <li><a href="#">Подключение социальных сетей</a></li>
      </ul>
    </nav>
  </div>
</section>
