<section class="role">
  <h3>Настройка авторолей</h3>
  <div class="role-content">
    <div class="add-roles">
      <div class="add-role-header">
        <h4>Выдача ролей для новых пользователей</h4>
      </div>
      <div class="add-role-body">
        <form>
          <div class="add-role-input">
            <label>
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28 12.4V20C22.42 20.1 20.1 22.42 20 28H12.4C6.4 28 4 25.6 4 19.6V12.4C4 6.4 6.4 4 12.4 4H19.6C25.6 4 28 6.4 28 12.4Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.9199 11.7401C12.8599 11.0201 11.4599 11.0201 10.3999 11.7801M21.9199 11.7401C20.8599 11.0201 19.4599 11.0201 18.3999 11.7801M16.3199 22.8401H11.6799C11.0799 22.8401 10.5999 22.3601 10.5999 21.7601C10.5999 18.7801 13.0199 16.3601 15.9999 16.3601C17.2799 16.3601 18.4599 16.8001 19.3799 17.5401" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M44 28.4V35.6C44 41.6 41.6 44 35.6 44H28.4C22.4 44 20 41.6 20 35.6V28C20.1 22.42 22.42 20.1 28 20H35.6C41.6 20 44 22.4 44 28.4Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M29.9199 27.24C28.8599 27.96 27.4599 27.96 26.3999 27.2M37.9199 27.24C36.8599 27.96 35.4599 27.96 34.3999 27.2M27.6799 32.36H36.3199C36.9199 32.36 37.3999 32.8399 37.3999 33.4399C37.3999 36.4199 34.9799 38.84 31.9999 38.84C29.0199 38.84 26.5999 36.4199 26.5999 33.4399C26.5999 32.8399 27.0799 32.36 27.6799 32.36Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 12H16M12 16V8M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z" stroke="white" stroke-opacity="0.5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <span>Select a role</span>
            </label>
            <select class="select">
              <option value="0"></option>
              <option value="2"></option>
              <option value="3"></option>
              <option value="4"></option>
            </select>
          </div>
          <div class="add-role-input">
            <h4>Выберите канал</h4>
            <select class="select">
              <option value="0">#react_role</option>
              <option value="2"></option>
              <option value="3"></option>
              <option value="4"></option>
            </select>
          </div>
        </form>
      </div>
      <div class="add-role-footer">
        <button class="button-bot">Добавить</button>
      </div>
    </div>
    <div class="list-role">
      <div class="list-role-header">
        <h4>Список ролей по реакции</h4>
      </div>
      <div class="list-role-body">
        <table>
          <thead>
          <tr>
            <td>Канал</td>
            <td>Реакция</td>
            <td>Роль</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>#react_role</td>
            <td>Emogi</td>
            <td>Role</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</section>

