<section class="stream">
  <div class="header-window">
    <h4>Предстоящие стримы</h4>
    <div class="header-action">
      <button class="mini_btn">
        <svg width="22" height="11" viewBox="0 0 22 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_185_620)">
            <line x1="18" y1="5.06525" x2="4" y2="5.06525" stroke="white" stroke-width="2"/>
          </g>
          <defs>
            <filter id="filter0_d_185_620" x="0" y="0.0652466" width="22" height="10" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset/>
              <feGaussianBlur stdDeviation="2"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0.666667 0 0 0 0 0.129412 0 0 0 0 0.129412 0 0 0 1 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_185_620"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_185_620" result="shape"/>
            </filter>
          </defs>
        </svg>
      </button>
      <button class="mini_btn">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_185_617)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7 9.67827L15.9097 5.40329L14.4846 4L10.275 8.27498L5.99997 4.06527L4.59668 5.49033L8.87167 9.70003L4.66162 13.9754L6.08667 15.3787L10.2967 11.1033L14.5721 15.3134L15.9753 13.8883L11.7 9.67827Z" fill="white"/>
          </g>
          <defs>
            <filter id="filter0_d_185_617" x="0.59668" y="0" width="19.3789" height="19.3787" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset/>
              <feGaussianBlur stdDeviation="2"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0.666667 0 0 0 0 0.129412 0 0 0 0 0.129412 0 0 0 1 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_185_617"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_185_617" result="shape"/>
            </filter>
          </defs>
        </svg>

      </button>
    </div>
  </div>
  <div class="stream-body">
    <table>
      <thead>
      <tr>
        <td>Стример</td>
        <td>Ссылка на стрим</td>
        <td>Приблизительное начало</td>
        <td>Статус</td>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>Васек</td>
          <td><a href="#">Ссылка на стрим (откроется прямо в админке)</a></td>
          <td>12 янв 12:30</td>
          <td><span class="button-bot fake-button">В процессе</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="stream-footer">
    <button class="button-bot">Добавить</button>
  </div>
</section>
