@import "../../../../assets/styles/variable";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/global";

.commands {
  padding: 0 10px 10px 10px;
  height: 100vh;
  //background-image:
  //  url("../../../../assets/images/bot/fon/12.webp"),
  //  url("../../../../assets/images/bot/fon/13.webp");
  //background-repeat: no-repeat;
  //background-position: -8% 37%, 99% 135%;
  h3 {
    @include title_40;
    margin-bottom: 28px;
  }
  .commands-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    .commands-item {
      border: $border;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      .commands-item-header {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        padding: 9px 23px 10px;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        color: #AA2121;
        cursor: pointer;
        background-color: $background_color;
      }
      .commands-item-footer {
        display: none;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        color: #FFFFFF;
        padding: 22px 23px 24px;
        background-color: $background_element;
        border-top: $border;
        border-radius: 5px;
        transition: 0.5s linear;
        &.active {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 1215px) {
  .commands {
    h3 {
      font-size: 30px;
    }
    .commands-items {
      .commands-item {
        .commands-item-header {
          border-radius: 5px;
          padding: 5px 7px 10px;
          font-size: 20px;
        }
        .commands-item-footer  {
          font-size: 20px;
          padding: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .commands {
    h3 {
      text-align: center;
    }
  }
}

