<section class="server">
    <div class="container">
      <img src="assets/images/main/background_server.webp" alt="" class="background">
    </div>
    <div class="wrapper">
      <div class="container">
        <div class="title">
          <h2>Hi, SS.LICH!</h2>
          <h3>Перейдите на сервер</h3>
        </div>

        <div class="server-items">
          <div class="server-item">
            <div class="server-item-photo one">

            </div>
            <div class="server-item-description">
              <div class="server-item-name">
                <p>BomG</p>
                <p>Владелец</p>
              </div>
              <a href="#" class="button">Настроить</a>
            </div>
          </div>
          <div class="server-item">
            <div class="server-item-photo two">

            </div>
            <div class="server-item-description">
              <div class="server-item-name">
                <p>LOL1K^s server</p>
                <p>Владелец</p>
              </div>
              <a href="#" class="button">Настроить</a>
            </div>
          </div>
          <div class="server-item">
            <div class="server-item-photo three">

            </div>
            <div class="server-item-description">
              <div class="server-item-name">
                <p>Задроты</p>
                <p>Владелец</p>
              </div>
              <a href="#" class="button">Настроить</a>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>
